<header>
<div class="logoc">
  <img class="logo"  src="../assets/logo.png" alt="fucl">
</div>
</header>
<main>
  <nav style="width: 100%;height:50px;padding: 15px; display: flex; flex-direction: row; align-items: center;justify-content: space-between;">
    <a href="#article" >אודות</a>|
    <a href="#degrees">תעודות</a>|
    <a href="#images">תמונות</a>|
    <a href="#videos">סרטונים</a>|
    <a href="#info">יצירת קשר</a>|
  </nav>
<h1 id="article">החלום ליהלום </h1>
<article>
  לפני שרוכשים יהלום או אבן חן מחנות 
  כדאי לבדוק פרמטרים חשובים 
  שהם גודל, ניקיון, צבע וטיב העבודה.  <br>
  פרמטרים אלו הם יסודות הבחירה של יהלומים ואבני חן.
</article>
<article>
  מכיון שלא כל אחד יודע לזהות פגמים ביהלום ולקבוע את ערכו ,
  אני מציע את שרותי כגמולוג מומחה ממכללת IGL
  ובעל ניסיון רחב בתחום. <br>
  אלווה אתכם בבחירת יהלום או האבן חן שתמיד רציתם. <br>
  לאחר שנרכוש את היהלום או את האבן חן 
  אני מציע  שרות של  יצירת תכשיט ליהלום או לאבן חן. <br>
 יש לי תיק עבודות נרחב 
 וקהל לקוחות מרוצים והמלצות חמות. <br>
  ישנה אפשרות לבדיקת יהלומים ואבני חן אצלי במעבדה עם ציוד איכותי ומשוכלל, 
  וכן הערכת מחיר. <br>
  <b>איכות אמינות שרות ומיקצועיות הם המוטו שלי.</b>
</article>
<div class="container3" id="degrees">
  <img src="../assets/degree1.jpg" height="90%" width="90%" style="border: 3px solid black;position: relative;top: 10%;">
  <img src="../assets/degree2.jpg" height="90%" width="90%" style="border: 3px solid black;margin-top: 10%;">
  </div>

<div style="height: auto;display: flex;flex-direction: column;align-items: center;justify-content: space-between;">
<div class="container" id="images">
 <button (click)="next()" [disabled]="nextD"><</button>
 <div style="height: 100%;width: 100%;" *ngFor="let picture of pictures[index]">
<img style="height: 100%;width: 100%;border: 2px solid black;border-radius: 5%;" (click)="biggerPic($event)" [src]="picture"  alt="hhhh">
</div>
<button (click)="prev()" [disabled]="prevD">></button>
</div>
<a class="infoP" href="https://wa.me/972545349686?text=%D7%94%D7%99%D7%99%2C%20%D7%90%D7%A9%D7%9E%D7%97%20%D7%9C%D7%A8%D7%90%D7%95%D7%AA%20%D7%A2%D7%95%D7%93%20%D7%AA%D7%9E%D7%95%D7%A0%D7%95%D7%AA">
   לחצו עליי לעוד תמונות </a>

<div class="container" id="videos">
  <button (click)="nextV()" [disabled]="nextVD"><</button>
  <div style="height: 100%;width: 100%;" *ngFor="let video of videos[indexV]">
    <video style="height: 100%;background-color: black; width: 100%;border: 2px solid black;border-radius: 5%;" [src]="video" type="video/mp4" controls></video>
  </div>
 <button (click)="prevV()" [disabled]="prevVD">></button>
 </div>
 <a class="infoP" href="https://wa.me/972545349686?text=%D7%94%D7%99%D7%99%2C%20%D7%90%D7%A9%D7%9E%D7%97%20%D7%9C%D7%A8%D7%90%D7%95%D7%AA%20%D7%A2%D7%95%D7%93%20%D7%A1%D7%A8%D7%98%D7%95%D7%A0%D7%99%D7%9D">
   לחצו עליי לעוד סרטונים </a>
</div>

</main>
<footer id="info" style="position: relative;top: 5%;display: flex;align-items: center;justify-content: space-between;flex-direction:column;">
<h4 style="display: block;">קבל ייעוץ עוד היום:</h4>
<div style="height: 100px;width: 80%;display: flex;align-items: center;justify-content: center;flex-direction: row;">
<a target="_blank"  href="https://wa.me/972545349686?text=%D7%90%D7%A0%D7%99%20%D7%9E%D7%A2%D7%95%D7%A0%D7%99%D7%99%D7%9F%20%D7%91%D7%A7%D7%A0%D7%99%D7%99%D7%AA%20%D7%99%D7%94%D7%9C%D7%95%D7%9D%2F%D7%90%D7%91%D7%9F%20%D7%97%D7%9F%20%D7%90%D7%A9%D7%9E%D7%97%20%D7%9C%D7%A2%D7%96%D7%A8%D7%94" >
  <img style="height: 50px;width: 50px;" src="../assets/whatsapp.png" ></a>
  <a href="https://www.facebook.com/profile.php?id=61556117670246&mibextid=ZbWKwL" style="margin: 10%;" target="_blank">
    <img style="height:60px;width: 60px;" src="../assets/facebook.png" >
  </a>
<a href="mailto:shlomo60y@gmail.com"  target="_blank">
  <img style="height:60px;width: 50px;" src="../assets/gmail.png" >
</a>
</div>
<h4>טלפון: 0545349686</h4>
<span style="font-size: x-small;margin-top: 20%;">כל הזכויות שמורות &copy; S.M.L פיתוח אתרים </span>
</footer>
<router-outlet></router-outlet>
